:root {
    --blueText: #01f2ec;
    --purpleText: #a606e2;
    --purpleHover: #74099c;
    --orangeText: #fc604a;
    --darkerBlue: #199EB8;
    --navbarBg: rgba(0, 0, 0, 0.9);
    --grayTitles: #343a40;
}

.purpleHover:hover {
    color: var(--purpleHover) !important;
}

.purpleHover-bg:hover {
    background-color: var(--purpleHover) !important;
}

.title {
    color: var(--grayTitles) !important;
}

.bonbon {
    font-family: 'Bonbon', cursive !important;
}

.navbarColor {
    color: var(--navbarBg)
}

.orange {
    color: var(--orangeText) !important;
}

.blue {
    color: var(--blueText) !important;
}

.darkerBlue {
    color: var(--darkerBlue) !important;
}

.purple {
    color: var(--purpleText) !important;
}

.bg-orange {
    background-color: var(--orangeText) !important;
}

.bg-blue {
    background-color: var(--blueText) !important;
}

.bg-darkerBlue {
    background-color: var(--darkerBlue) !important;
}

.bg-purple {
    background-color: var(--purpleText) !important;
}

.bold {
    font-weight: 800 !important;
}

.x,
.o {
    position: absolute;
    z-index: -1;
    height: 150px;
}

@media (min-width: 1200px) {
    .register {
        position: absolute;
        right: 20px
    }
}

@font-face {
    font-family: "Gilroy Light";
    src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot");
    src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.svg#Gilroy Light") format("svg");
}

@font-face {
    font-family: 'Gotham';
    src: url('..fonts/GothamMedium/GothamMedium.eot');
    src: url('..fonts/GothamMedium/GothamMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamMedium/GothamMedium.woff2') format('woff2'), url('..fonts/GothamMedium/GothamMedium.woff') format('woff'), url('..fonts/GothamMedium/GothamMedium.ttf') format('truetype'), url('..fonts/GothamMedium/GothamMedium.svg#GothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Bold.eot');
    src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* 
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Thin.eot');
    src: url('../fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Thin.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Thin.woff') format('woff'), url('../fonts/Gotham/Gotham-Thin.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: lighter;
    font-display: swap;
} */

body {
    background-color: var(--blueText);
    font-family: 'Gotham';
    font-weight: normal;
    color: white;
    font-weight: bold;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.visible-title {
    visibility: visible;
}


/* For Jumbotron Section*/

.btn-primary-jumbtron {
    color: #11171a;
    background-color: #1de9b6;
    border-color: #1de9b6;
}

.btn-jumbtron {
    text-transform: uppercase;
    font-size: 15px;
}

.btn-jumbtron.btn-primary-jumbtron {
    box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
    transition: all .2s ease-out;
}

.btn-jumbtron.btn-primary-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(29, 233, 182, 0.35);
}

.btn-jumbtron.btn-primary-jumbtron:active {
    box-shadow: none !important;
}

.btn-jumbtron.btn-secondary-jumbtron {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
    transition: all .2s ease-out;
}

.btn.btn-secondary-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.35);
}

.btn.btn-secondary-jumbtron:active {
    box-shadow: none !important;
}

.btn-jumbtron.btn-success-jumbtron {
    box-shadow: 0 8px 16px rgba(0, 230, 118, 0.3);
    transition: all .2s ease-out;
}

.btn-jumbtron.btn-success-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(0, 230, 118, 0.35);
}

.btn-jumbtron.btn-success-jumbtron:active {
    box-shadow: none !important;
}

.btn-jumbtron.btn-info-jumbtron {
    box-shadow: 0 8px 16px rgba(0, 229, 255, 0.3);
    transition: all .2s ease-out;
}

.btn-jumbtron.btn-info-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(0, 229, 255, 0.35);
}

.btn-jumbtron.btn-info-jumbtron:active {
    box-shadow: none !important;
}

.btn-jumbtron.btn-warning-jumbtron {
    box-shadow: 0 8px 16px rgba(255, 234, 0, 0.3);
    transition: all .2s ease-out;
}

.btn-jumbtron.btn-warning-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(255, 234, 0, 0.35);
}

.btn-jumbtron.btn-warning-jumbtron:active {
    box-shadow: none !important;
}

.btn-jumbtron.btn-danger-jumbtron {
    box-shadow: 0 8px 16px rgba(255, 23, 68, 0.3);
    transition: all .2s ease-out;
}

.btn-jumbtron.btn-danger-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(255, 23, 68, 0.35);
}

.btn-jumbtron.btn-danger-jumbtron:active {
    box-shadow: none !important;
}

.btn-jumbtron.btn-light-jumbtron {
    box-shadow: 0 8px 16px rgba(236, 239, 241, 0.3);
    transition: all .2s ease-out;
}

.btn-jumbtron.btn-light-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(236, 239, 241, 0.35);
}

.btn-jumbtron.btn-light-jumbtron:active {
    box-shadow: none !important;
}

.btn-jumbtron.btn-dark-jumbtron {
    box-shadow: 0 8px 16px rgba(17, 23, 26, 0.3);
    transition: all .2s ease-out;
}

.btn-jumbtron.btn-dark-jumbtron:hover {
    box-shadow: 0 8px 20px rgba(17, 23, 26, 0.35);
}

.btn-jumbtron.btn-dark-jumbtron:active {
    box-shadow: none !important;
}

@media (min-width: 768px) {
    .vh-md-100 {
        height: 100vh;
    }
}

.lead {
    font-size: 1.2rem;
    font-weight: 500;
}

.heading-black {
    font-weight: 800;
}

.py-7 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
}

.bg-hero:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.bg-hero .container {
    z-index: 2;
    position: relative;
}


/* End Jumbotron Section */


/* For the features*/

.smart-scroll.scrolling.up {
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all .3s ease-out;
}

.smart-scroll.scrolling {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.smart-scroll {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    z-index: 1020;
    width: 100%;
    transition: all .3s ease-out;
}


/* END for the features*/


/* For the stats */

.stats-row {
    margin-top: 65px;
}

.circle {
    color: var(--navbarBg) !important;
}

.stats-col .circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    font-weight: 500;
    color: #666;
    border: 6px solid var(--purpleText);
    border-radius: 50%;
    padding: 55px 25px 0 25px;
    position: relative;
}

.stats-col .circle .stats-no {
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -25px;
    right: -15px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--orangeText);
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
}


/* END for the stats */


/* Begin for TimeLine Section*/

.timeline {
    margin-top: 20px;
    position: relative;
}

.timeline:before {
    position: absolute;
    content: '';
    width: 4px;
    height: calc(100% + 50px);
    background: rgb(138, 145, 150);
    /* background: -moz-linear-gradient(left, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    background: linear-gradient(to right, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d', GradientType=1);
    left: 14px;
    top: 5px;
    border-radius: 4px;
    background-color: var(--purpleText) !important;
}

.timeline-month {
    position: relative;
    padding: 4px 15px 4px 35px;
    /* background-color: #444950; */
    background-color: var(--orangeText);
    display: inline-block;
    width: auto;
    border-radius: 40px;
    border: 1px solid #17191B;
    border-right-color: black;
    margin-bottom: 30px;
}

.timeline-month span {
    position: absolute;
    top: -1px;
    left: calc(100% - 10px);
    z-index: -1;
    white-space: nowrap;
    display: inline-block;
    background-color: #111;
    padding: 4px 10px 4px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid black;
    box-sizing: border-box;
}

.timeline-month:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--purpleText);
    /* background: rgb(138, 145, 150); */
    /* background: -moz-linear-gradient(top, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%);
    background: linear-gradient(to bottom, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d', GradientType=0);
    border-radius: 100%;
    border: 1px solid #17191B;
    left: 5px;
}

.timeline-section {
    padding-left: 35px;
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.timeline-date {
    margin-bottom: 15px;
    padding: 2px 15px;
    background: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #17191B;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.timeline-section:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #444950;
    top: 12px;
    left: 20px;
}

.timeline-section:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(to bottom, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%);
    top: 7px;
    left: 11px;
    border: 1px solid #17191B;
    border-radius: 100%;
}

.timeline-section .col-sm-4 {
    margin-bottom: 15px;
}

.timeline-box {
    position: relative;
    background-color: #444950;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #17191B;
    transition: all 0.3s ease;
    overflow: hidden;
}

.box-icon {
    position: absolute;
    right: 5px;
    top: 0px;
}

.box-title {
    padding: 5px 15px;
    border-bottom: 1px solid #17191B;
    background-color: var(--orangeText);
}

.box-title i {
    margin-right: 5px;
}

.box-content {
    padding: 5px 15px;
    /* background-color: #17191B; */
    background-color: var(--navbarBg);
}

.box-content strong {
    color: #666;
    font-style: italic;
    margin-right: 5px;
}

.box-item {
    margin-bottom: 5px;
}

.box-footer {
    padding: 5px 15px;
    border-top: 1px solid #17191B;
    /* background-color: #444950; */
    background-color: var(--orangeText);
    text-align: right;
    font-style: italic;
}


/* End for TimeLine Section*/


/*Begin for the Formers*/

.team h2 {
    color: --var(--darkerBlue);
}

.team .col-sm-3 {
    padding: 0;
}

.team .card>a {
    display: block;
}

.team .card img {
    width: 100%;
}

.team .card h4 {
    color: #fff;
    text-transform: uppercase;
}

.team .card p {
    font-size: 11px;
    color: #fff;
    opacity: .75;
    margin: 0;
    padding: 0 35px;
}

.team .card .social-nav {
    margin-bottom: 45px;
}

.team .card .social-nav a {
    color: #fff;
    font-size: 16px;
    margin: 0 4px;
}

.team .card .social-nav a:hover {
    opacity: .75;
}

.team .card:hover .team-over {
    opacity: 1;
    visibility: visible;
}

.team .card:hover .card-title-wrap {
    background-color: var(--darkerBlue);
}

.team .card:hover .card-title-wrap .card-title,
.team .card:hover .card-title-wrap .card-text {
    color: #fff;
}

.team .team-over {
    padding-top: 45px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.team .card-title-wrap {
    padding: 15px 25px;
    position: relative;
    z-index: 9;
    background-color: #fff;
}

.team .card-title-wrap .card-title,
.team .card-title-wrap .card-text {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    display: block;
    margin: 0;
}

.team .card-title-wrap .card-title {
    font-size: 24px;
    color: #333;
}

.team .card-title-wrap .card-text {
    font-size: 18px;
    color: #999;
}


/*end for the Formers */


/*Slick Section Styles */

.slick-dots {
    top: -4rem;
}

.slick-dots li button::before {
    font-size: .75rem !important;
    line-height: 3.5rem !important;
}

.slick-dots li button::before,
.slick-dots li.slick-active button:before {
    color: #1de9b6 !important;
}

.slick-next:before,
.slick-prev:before {
    color: rgba(29, 233, 182, 0.2);
}

.slick-next:hover:before,
.slick-prev:hover:before {
    color: #1de9b6;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.3rem !important;
}


/*The Social Links Section*/


/*Styling my Follow Button */

.follow,
.share {
    display: inline-block;
    cursor: default;
    padding: 0;
    margin: 0 .5em;
    position: relative;
    text-align: center;
}

.follow:hover .label,
.share:hover .label {
    opacity: 0;
    -webkit-transition: opacity .5s .125s ease-out;
    transition: opacity .5s .125s ease-out;
}

.follow:hover .icon,
.share:hover .icon {
    cursor: pointer;
    border-radius: 1em;
    margin: 0 0;
}

.icon,
.label {
    background-color: #BA3D51;
    line-height: 2rem;
}

.follow .label {
    min-width: 200px;
    font-size: 1.2rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    position: absolute;
    /*font-size: .618em;*/
    /*font-weight: 900;*/
    letter-spacing: .0816em;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    pointer-events: none;
    /*text-transform: uppercase;*/
    -webkit-transition: opacity .5s .75s ease-out;
    transition: opacity .5s .75s ease-out;
}

.icon {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 2em;
    margin: 0 -.5em;
    -webkit-transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out;
    transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out;
    width: 2em;
}

.icon.first {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    margin-left: 0;
}

.icon.last {
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    margin-right: 0;
}

.icon:hover {
    background-color: #f84405;
    color: #111;
}


/*END the social Links */


/* the Footer Section*/

.footer_made {
    --offset: 0px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Gilroy Light";
    font-size: 1rem;
    line-height: 2;
    color: white;
}


/* forFAQ SECTION */

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 50px;
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    position: relative;
}

#accordion .panel-title a {
    display: block;
    padding: 10px 20px 10px 60px;
    background: #fe5f55;
    border-radius: 30px;
    border: 2px solid #fe5f55;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

#accordion .panel-title a.collapsed {
    border: 2px solid var(--orangeText);
    background: #fff;
    color: var(--purpleText);
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: var(--orangeText);
    font-size: 18px;
    color: var(--purpleText);
    text-align: center;
    border-right: 3px solid var(--orangeText);
    position: absolute;
    top: -10px;
    left: -30px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    content: "\f067";
    background: var(--orangeText);
    border: none;
}

#accordion .panel-body {
    padding: 15px 20px 0;
    margin: 0 0 0 30px;
    border: none;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    position: relative;
}

#accordion .panel-body:before {
    content: "";
    display: block;
    width: 5px;
    height: 90%;
    background: #fe5f55;
    position: absolute;
    top: 0;
    left: -30px;
}

#accordion .panel-body:after {
    content: "";
    border-top: 20px solid #fe5f55;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -48px;
}